
.navbar-container {
    margin: 3rem 3rem;
    display: flex;
    justify-content: space-between;
}


.secnd{
    margin: 0 10%;
    flex: 4;
    text-align: center;
}


.list{
    font-family: "Orbitron";
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.list .list-item:hover {
    border-bottom: 3px solid black;
    padding-bottom: 2px;
}

.button-group {
    flex:1 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    text-align: center;
    margin-top: 5px;

}

.nav-button {
    margin-left: 0.5rem;
    padding: 5px 30px;
    border: 2px solid #1f1f1f ;
    border-radius: 0.5rem;
    background-color: transparent;
    color: gray;
}


.hero-container {
    display: flex;
}

.star, .globe, .square {
    position: absolute;
}

.person-hero-iamge {
    padding-right: 10%;
    padding-left: 10%;
}

.person-hero-iamge img {
    width: 40vh;
}


.square {
    z-index: -1;
    top: 290px;
    left: 225px;
}

.square img{
    width: 40vh;
}

.star{
    left: 85%;
    top: 25%;
}

.globe {
    left: 50%;
    top: 15%;
}

.hero-container-right {
    padding-top: 8%;
    text-align: center;
}

.hero-heading {
    margin-top: 0px;
    font-family: "Orbitron" ;
    font-weight: 800;
    font-size: 3.5rem;
}

.hero-description {
    font-family: "Poppins";
    text-align: center;
    width: 80%;
    padding-left: 10%;
    color: #313131;
}

.button-email {
    background-color: transparent;
    padding: 2px 30px;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    font-family:"Orbitron" ;
    font-size: 1rem;
}

.butns {
    margin-top: 5%;
    margin-bottom: 5%;
}


.button-join {
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    font-family:"Orbitron" ;
    color: #fff;
    padding: 2px 5px;
    border-radius: 0.5rem;
}

.contact-heading {
    font-family: "Poppins";
}

.icons span {
    margin-right: 15px;
    width: 80%;
}